h1 {
    text-align: center;
}
body {
    background: linear-gradient(45deg, #e35454, #ff7f50);
    font-family: Arial, sans-serif;
}


/* canvas {
    border: 2px solid black;
    display: block;
    margin: 0 auto;
} */

.game_room {
    position: relative;
    display: block;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: 2px solid rgb(255, 255, 255);
    background-color: #ccc;
}

button {
    position: absolute;
    background-color: red;
    width: 50px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    font: 1em sans-serif;
    top: 20px;
    right: 20px;
}

.start {
    right: 150px;
    background-color: green;
}

.pause {
    right: 85px;
    background-color: yellow;
}

.bird {
    position: absolute;
    top: 325px;
    left: 50px;
    width: 50px;
    height: 50px;
    background: url('./public/bird1-change.png') no-repeat center center;
    /* background-color: #FF0000; */
}

#obstacles {
    overflow: hidden;
    position: relative;
    width: 800px; /* 根据你的游戏宽度设置 */
    height: 600px; /* 设定一个合适的高度 */
    list-style: none;
    margin: 0;
    padding: 0;
}

#obstacles li {
    bottom: 0; /* 让障碍物从底部开始 */
    position: absolute;
    width: 50px; /* 障碍物宽度 */
    height: 100%;
}

#obstacles li span {
    position: absolute;
    display: block;
    width: 100%;
    background-color: green;
}

#obstacles li .top {
    height: var(--top-height);
    position: absolute;
    top: 0;
}

#obstacles li .bottom {
    height: var(--bottom-height);
    position: absolute;
    bottom: 0;
}

#gameOverScreen {
    display: none; /* 默认隐藏 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    height: 100px;
    line-height: 60px;
}

/* 标题样式 */
#gameOverScreen h2 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
}

/* 按钮样式 */
#restartBtn {
    margin-top: 5px;
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    color: white;
    border: none;
    border-radius: 8px;
    width: 80px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

#restartBtn:hover {
    background: linear-gradient(45deg, #ff4b2b, #ff416c);
    transform: scale(1.05);
}

/* 添加淡入动画 */
.show {
    opacity: 1 !important;
}